# Mac
.DS_Store

# Xcode
Build/*
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# CocoaPod
Pods/*

# Carthage
Carthage/

### Ruby ###
*.gem
*.rbc

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

### fastlane ###
fastlane/report.xml
fastlane/tmp/

